/* 
    Compass-Box-arrow v0.0.1
    By Naivencreatik  ~ 2013 ~
    http://naivencreatik.com
*/

@mixin box-arrow($orientation, $size, $color, $borderColor) {
    &:after, 
    &:before {
        content: " ";
        position: absolute;
        width: 0;
        height: 0;
        border: solid transparent;
        pointer-events: none;
    }

    &:after {
        border-width: #{$size}px;
        z-index: 4;
    }
       
    &:before {
        border-width: #{$size + 1}px;
        z-index: 1;
    }

    @if($orientation == top or $orientation == topLeft or $orientation == topRight) {
        @extend %fadeInUp;

        &:after, 
        &:before {
            bottom: 100%;
        
            @if($orientation == top) {
                left: 50%;
            }@else if($orientation == topLeft) {
                left: #{size * 2}px;
            }
            @else if($orientation == topRight) {
                right: #{size * 2}px;
            }
        }

        &:after {
            margin-left: -#{$size}px;
            border-bottom-color: $color;
        }

        &:before {
            margin-left: -#{$size + 1}px;
            border-bottom-color: $borderColor;
        }
    }@else if($orientation == right or $orientation == rightTop or $orientation == rightBottom) {
        @extend %fadeInRight;

        &:after, 
        &:before {
            left: 100%;

            @if($orientation == right) {
                top: 50%;
            }@else if($orientation == rightTop) {
                top: #{size * 2}px;
            }@else if($orientation == rightBottom) {
                bottom: #{size * 2}px;
            }
        }

        &:after {
            margin-top: -#{$size}px;
            border-left-color: $color;
        }

        &:before {
            margin-top: -#{$size + 1}px;
            border-left-color: $borderColor;
        }
    }@else if($orientation == bottom or $orientation == bottomLeft or $orientation == bottomRight) {
        @extend %fadeInDown;

        &:after, 
        &:before {
            top: 100%;

            @if($orientation == bottom) {
                left: 50%;
            }@else if($orientation == bottomLeft) {
                left: #{size * 2}px;
            }@else if($orientation == bottomRight) {
                right: #{size * 2}px;
            }
        }

        &:after {
            margin-left: -#{$size}px;
            border-top-color: $color;
        }

        &:before {
            margin-left: -#{$size + 1}px;
            border-top-color: $borderColor;
        }
    }@else if($orientation == left or $orientation == leftTop or $orientation == leftBottom) {
        @extend %fadeInLeft;

        &:after, 
        &:before {
            right: 100%;

            @if($orientation == left) {
                top: 50%;
            }@else if($orientation == leftTop) {
                top: #{size * 2}px;
            }@else if($orientation == leftBottom) {
                bottom: #{size * 2}px;
            }
        }

        &:after {
            margin-top: -#{$size}px;
            border-right-color: $color;
        }

        &:before {
            margin-top: -#{$size + 1}px;
            border-right-color: $borderColor;
        }
    }
}
