@import "compass";
@import "compass/css3";
@import "compass/reset";
@import "animate/animations";
@import "box-arrow";

// Variables
$white      : #fff;
$black      : #000;
$color-1    : #efefef;
$color-2    : #e6e6e6;
$color-3    : #1abc9c;

//Mixins
@mixin button ($color) {
    color: $white;
    background: $color;

    &:hover {
        color: $white;
        background: lighten($color, 10%);
    }
    
    &:active {
        color: $white;
        background: lighten($color, 20%);
        @include box-shadow(inset 0 0 0 1px $white);  
    }
}


html {
    height: 100%;
}

body {
    position: relative;
    height: 100%;
    font: 12px Helvetica, Verdana, sans-serif;
    background: $color-1;
    @include box-sizing (border-box);
}

h1 {
    color: $black;
    font-size: 90px;
    font-weight: bold;
    line-height: 94px;
}

h2 {
    font-size: 48px;
}

.h3 {
    font-size: 18px;
}

.desc,
.example {
    padding: 30px;
}

button,
.button {
    display: inline-block;
    min-width: 150px;
    height: 45px;
    padding: 1px 6px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 45px;
    text-align: center;
    text-decoration: none;
    border: none;
    @include button($color-3);
}


.box {
    display: inline-block;
    position: relative;
    width: 250px;
    height: 120px;
    margin: 30px;
    text-align: center;
    line-height: 120px;
    background: $white;
    border: 1px solid $color-2;
    @include border-radius(5px);

    &.ba-1 {
        @include box-arrow(top, 10, $white, $color-2);
    }

    &.ba-2 {
        @include box-arrow(right, 10, $white, $color-2);
    }

    &.ba-3 {
        @include box-arrow(bottom, 10, $white, $color-2);
    }

    &.ba-4 {
        @include box-arrow(left, 10, $white, $color-2);
    }
}